.footer {
    height: 5.5em;
    box-shadow: 0px -5px 40px 0px #00000033;
    background-color: #F7F7F7;
    
    &__container {
        position: relative;
        &__end-note {
            position: absolute;
            left: 8%;
            margin-top: 1.25em;

            &__name {
                font-family: Raleway;
                font-size: 1.625rem;
                font-weight: 300;
                line-height: 1.875rem;
                color: #08A6E4;
            }
    
            &__copyright {
                font-family: "Open Sans";
                font-size: 0.7rem;
                font-weight: 400;
                line-height: 1rem;
                color:#A5A5A5
            }
        }
        
        &__social {
            position: absolute;
            right: 8%;
            margin-top: 2.25em;

            &__twitter {
                display: inline-block;
                margin-right: 15px;
            }
    
            &__facebook {
                display: inline-block;
            }
        }
    }
}

@media only screen and (min-width: 1000px) { 

    .footer {

        &__container {
            //display: flex;
            //justify-content: space-between;

            &__social {
                //transform: translate(-20px, 30px);
            }
        }
    }
}