$blue: #08A6E4;

.header {

    &__navbar {
        color: $blue;
        height: 70px;
        width: 100%;
        box-shadow: 0px 3px 6px 0px #0000004A;

        &__title {
            font-family: Raleway;
            font-weight: 300;
            display: inline-block;
            text-align: center;
            font-size: 2rem;
            margin: 0.5em;
            width: 17%;

            &__with-space {
                display: none;
            }
        }
        
        &__menu {
            display: inline-block;
            text-align: right;
            width: 60%;
        }

        &__tab {
            display: none;
        }
    }
}


@media only screen and (min-width: 1000px) {
    
    .header {

        &__navbar { 
            display: grid;
            grid-template-columns: repeat(17, 1fr);
        
            &__title {
                grid-column: 1 / 6;
                width: auto;

                &__without-space {
                    display: none;
                }

                &__with-space {
                    display: inline-block;
                }
            } 

            &__menu {
                display: none;
            }

            &__tab {
                display: flex;
                align-items: center;
                color: currentColor;
                text-decoration: none;
                text-transform: uppercase;
                font-family: "Open Sans";
                font-weight: 700;
                font-size: 0.68rem;
                color: #A5A5A5;
                line-height: 1rem;
                letter-spacing: 0.2rem;
                justify-self: center;
                height: 100%;
                padding: 0 1em;
                text-align: center;

                &:hover {
                    color: #000000;
                    border-bottom: 4px solid $blue;
                }

                &--one {
                    grid-column: 10 ;
                }

                &--two {
                    grid-column: 12 ;
                }

                &--three {
                    grid-column: 14 ;
                }
                
                &--four {
                    grid-column: 16 ;
                }
            }
        }
    }
}