@mixin wide-menu {
    display: flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 0.68rem;
    color: #A5A5A5;
    line-height: 1rem;
    letter-spacing: 0.2rem;
    justify-self: center;
    height: 100%;
    padding: 0 1em;
    text-align: center;
    &:hover {
        color: #000000;
        border-bottom: 4px solid $blue;
    }
}

$blue: #08A6E4;

.header {

    &__navbar {
        color: $blue;
        height: 70px;
        width: 100%;
        box-shadow: 0px 3px 6px 0px #0000004A;

        &__title {
            font-family: Raleway;
            font-weight: 300;
            display: inline-block;
            text-align: center;
            font-size: 2rem;
            margin: 0.5em;

            &__with_space {
                display: none;
            }
        }
        
        &__menu {

            &--low_width {
                display: inline-block;
                margin-left: 5%;
                position: relative;
                bottom: 5px;

                /*
                &__img {

                }
                */
            }
            
            &--wider_width_why_us {
                display: none;
            }
            &--wider_width_benefits {
                display: none;
            }
            &--wider_width_prices {
                display: none;
            }
            &--wider_width_contact{
                display: none;
            }
            
        }
    }

}


@media only screen and (min-width: 1000px) {
    .header {
        &__navbar { 
            display: grid;
            grid-template-columns: repeat(17, 1fr);
        
            &__title {
                grid-column: 1 / 6;

                &__without_space {
                    display: none;
                }
                &__with_space {
                    display: inline-block;
                }
            } 

            &__menu {

                &--low_width {
                    display: none;
                }
                
                &--wider_width_why_us {
                    @include wide-menu;
                    grid-column: 10 ;
                }
                &--wider_width_benefits {
                    @include wide-menu;
                    grid-column: 12 ;
                }
                &--wider_width_prices {
                    @include wide-menu;
                    grid-column: 14 ;
                }
                &--wider_width_contact{
                    @include wide-menu;
                    grid-column: 16 ;
                }
            }
        }
    }
}