$blue: #08A6E4;

.main {

    &__advertising {
        text-align: center;
        margin-top: 120px;

        &__slogan {
            font-family: Raleway;
            font-weight: 400;
            font-size: 2.1rem;
        }

        &__paragraph {
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 1rem;
            width: 72%;
            margin: auto;
            margin-top: 20px;
            
        }

        &__button {
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 1rem;
            color: white;
            background-color: $blue;
            border-radius: 40px;
            border: none;
            box-shadow: 5px 10px 14px 0px #07ACE64A;
            height: 67px;
            max-width: 440px;
            width: 80%;
            margin-top: 30px;
            
        }
    }
    &__image_container {
        overflow: hidden;
        &__background {
            width: 188%;
            transform: translateX(-24.5%);
            height: auto;
            margin-top: 28px;
        }
    }
    &__stats {
        text-align: center;
        &__slogan {
            display: inline-block;
            font-family: Raleway;
            font-weight: 300;
            font-size: 1.9rem;
            line-height: 35px;
            width: 74%;
        }

        &____container {

            &__stat {

                &__number {

                }

                &__fact {

                }

                &__image{

                    &--red {

                    }

                    &--blue {

                    }

                    &--green {

                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .main {

        &__advertising {
            &__slogan {
                font-size: 3rem;
            }
        }
        &__image_container {
            &__background { 
                width: 100%;
                transform: translateX(0%);
                margin-top: 0px;
            }
        }
        &__stats {
            &__slogan {
                display: inline-block;
                font-family: Raleway;
                font-weight: 400;
                font-size: 2.5rem;
                line-height: 42px;
                width: 74%;
            }
        }
    }
}