.header__navbar {
  color: #08A6E4;
  height: 70px;
  width: 100%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
.header__navbar__title {
  font-family: Raleway;
  font-weight: 300;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  margin: 0.5em;
  width: 17%;
}
.header__navbar__title__with-space {
  display: none;
}
.header__navbar__menu {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.header__navbar__tab {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .header__navbar {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
  }
  .header__navbar__title {
    grid-column: 1/6;
    width: auto;
  }
  .header__navbar__title__without-space {
    display: none;
  }
  .header__navbar__title__with-space {
    display: inline-block;
  }
  .header__navbar__menu {
    display: none;
  }
  .header__navbar__tab {
    display: flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 0.68rem;
    color: #A5A5A5;
    line-height: 1rem;
    letter-spacing: 0.2rem;
    justify-self: center;
    height: 100%;
    padding: 0 1em;
    text-align: center;
  }
  .header__navbar__tab:hover {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
  }
  .header__navbar__tab--one {
    grid-column: 10;
  }
  .header__navbar__tab--two {
    grid-column: 12;
  }
  .header__navbar__tab--three {
    grid-column: 14;
  }
  .header__navbar__tab--four {
    grid-column: 16;
  }
}
.main__advertising {
  text-align: center;
  margin-top: 120px;
}
.main__advertising__slogan {
  font-family: Raleway;
  font-weight: 400;
  font-size: 2.1rem;
}
.main__advertising__paragraph {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  width: 72%;
  margin: auto;
  margin-top: 20px;
}
.main__advertising__button {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: #08A6E4;
  border-radius: 40px;
  border: none;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  height: 4.2em;
  max-width: 440px;
  width: 80%;
  margin-top: 30px;
}
.main__image_container {
  overflow: hidden;
}
.main__image_container__background {
  width: 188%;
  transform: translateX(-24.5%);
  height: auto;
  margin-top: 28px;
}
.main__stats {
  text-align: center;
}
.main__stats__slogan {
  display: inline-block;
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 35px;
  width: 74%;
}
.main__stats__container__stat__background {
  height: 62.7px;
  width: 62.7px;
  border-radius: 50%;
  margin: auto;
  position: relative;
  margin-top: 30px;
}
.main__stats__container__stat__background--red {
  background-color: #FB3B64;
}
.main__stats__container__stat__background--blue {
  background-color: #08A6E4;
}
.main__stats__container__stat__background--green {
  background-color: #55DFB4;
}
.main__stats__container__stat__background__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
}
.main__stats__container__stat__background__image--eye {
  transform: translate(-18%, -50%);
}
.main__stats__container__stat__number {
  font-family: Raleway;
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: 5.96px;
  margin-top: 12px;
}
.main__stats__container__stat__fact {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #A5A5A5;
  width: 40%;
  margin: auto;
  margin-top: 17px;
  margin-bottom: 45px;
}
.main__showcase {
  background-color: #F7F7F7;
  padding: 35px 23px;
}
.main__showcase__container {
  background-color: white;
  margin: 0px auto 20px;
  padding: 15px 20px 25px;
}
.main__showcase__container__text__slogan {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.5rem;
  margin: 10px 0px 15px;
  width: 49;
}
.main__showcase__container__text__paragraph {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.main__showcase__container__text__paragraph--bigger {
  font-size: 1rem;
}
.main__showcase__container__background-one {
  background-color: #FB3B64;
  margin: 10px auto 45px;
  height: 5.6em;
  width: 5.6em;
  border-radius: 41px;
  transform: rotate(-0.125turn) translate(35%, 40%);
}
.main__showcase__container__background-one__image {
  transform: rotate(45deg) translate(-50%, 48%);
}
.main__showcase__container__background-two {
  margin: 20px auto;
  background-color: #08A6E4;
  height: 8.2em;
  width: 8.2em;
  border-radius: 50%;
}
.main__showcase__background-three {
  background-color: #55DFB4;
  transform: translate(0px, -20px);
  margin: 0px auto;
  text-align: center;
}
.main__showcase__background-three__image {
  transform: translate(0px, 30px);
}
.main__pricing {
  text-align: center;
  margin-top: 40px;
}
.main__pricing__title {
  font-family: Raleway;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.6rem;
}
.main__pricing__divise-options {
  margin: 50px 0px;
}
.main__pricing__divise-options__button {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.2rem;
  width: 20%;
  height: 30px;
  border-radius: 18px;
  border: 0px;
  color: white;
  margin: 0px 10px;
}
.main__pricing__divise-options__button--EUR {
  background-color: #FB3B64;
}
.main__pricing__divise-options__button--USD {
  background-color: #07ACE6;
}
.main__pricing__divise-options__button--GBP {
  background-color: #55DFB4;
}
.main__pricing__options-container {
  margin: 15px 10%;
}
.main__pricing__options-container__option {
  border: 1px solid;
  border-radius: 18px;
  margin-bottom: 40px;
}
.main__pricing__options-container__option--red {
  border-color: #FB3B64;
}
.main__pricing__options-container__option--blue {
  border-color: #07ACE6;
}
.main__pricing__options-container__option--green {
  border-color: #55DFB4;
}
.main__pricing__options-container__option__features__header {
  display: inline-block;
  width: 49%;
}
.main__pricing__options-container__option__features__header__tier {
  font-family: Raleway;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.main__pricing__options-container__option__features__header__price {
  font-family: "Open Sans";
  font-size: 2.875rem;
  font-weight: 300;
  line-height: 4rem;
}
.main__pricing__options-container__option__features__header__price--red {
  color: #FB3B64;
}
.main__pricing__options-container__option__features__header__price--blue {
  color: #07ACE6;
}
.main__pricing__options-container__option__features__header__price--green {
  color: #55DFB4;
}
.main__pricing__options-container__option__features__header__limited {
  font-family: Raleway;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9rem;
}
.main__pricing__options-container__option__features__body {
  display: inline-block;
  width: 49%;
  text-align: left;
}
.main__pricing__options-container__option__features__body__list {
  list-style-type: none;
}
.main__pricing__options-container__option__features__body__list__element {
  margin: 15px 5px 15px 0px;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2rem;
}
.main__pricing__options-container__option__features__body__list__element__image {
  padding-right: 8px;
}
.main__pricing__options-container__option__button {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.8rem;
  height: 3.5em;
  width: 45%;
  border-radius: 23px;
  border: 0px;
  color: white;
  transform: translateY(50%);
}
.main__pricing__options-container__option__button--red {
  background-color: #FB3B64;
}
.main__pricing__options-container__option__button--blue {
  background-color: #07ACE6;
}
.main__pricing__options-container__option__button--green {
  background-color: #55DFB4;
}
.main__questions {
  margin: 60px 8%;
}
.main__questions__info__last-words__slogan {
  font-family: Raleway;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.93rem;
}
.main__questions__info__last-words__paragraph {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.37rem;
}
.main__questions__info__contacts {
  margin-top: 35px;
}
.main__questions__info__contacts__contact {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.37rem;
  color: #A5A5A5;
}
.main__questions__info__contacts__contact__image {
  margin-right: 9px;
  transform: translateY(5px);
}
.main__questions__invoice {
  margin-top: 45px;
}
.main__questions__invoice__label {
  display: block;
  font-family: "Open Sans";
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 0.9375rem;
  letter-spacing: 0.2rem;
  color: #08A6E4;
  text-transform: uppercase;
  margin-top: 25px;
}
.main__questions__invoice__input {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 100%;
  display: block;
  border: 0;
  border-bottom: 1px solid #08A6E4;
}
.main__questions__invoice__check-container {
  display: block;
  transform: translate(0px, 2px);
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main__questions__invoice__check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.main__questions__invoice__check-container:hover input ~ .main__questions__invoice__check-container__checkmark {
  background-color: #ffffff;
}
.main__questions__invoice__check-container input:checked ~ .main__questions__invoice__check-container__checkmark {
  background-color: #ffffff;
}
.main__questions__invoice__check-container input:checked ~ .main__questions__invoice__check-container__checkmark:after {
  display: block;
}
.main__questions__invoice__check-container__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #ffffff;
  border: 1px solid #95989A;
  border-radius: 4px;
}
.main__questions__invoice__check-container__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.main__questions__invoice__consent-text {
  width: 90%;
  margin-left: 25px;
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #707070;
}
.main__questions__invoice__button-container {
  text-align: right;
  margin-top: 30PX;
  margin-bottom: 50px;
}
.main__questions__invoice__button-container__button {
  font-family: "Open Sans";
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.1rem;
  width: 17em;
  height: 4.5em;
  border: 0px;
  border-radius: 35px;
  background-color: #08A6E4;
  color: white;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}

.main__questions__invoice__check-container .main__questions__invoice__check-container__checkmark:after {
  left: 7px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid #08A6E4;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (min-width: 1000px) {
  .main__advertising__slogan {
    font-size: 3rem;
  }
  .main__image_container__background {
    width: 100%;
    transform: translateX(0%);
    margin-top: 0px;
  }
  .main__stats__slogan {
    display: inline-block;
    font-family: Raleway;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 42px;
    width: 74%;
  }
  .main__stats__container {
    margin-top: 85px;
    display: flex;
    justify-content: space-evenly;
  }
  .main__stats__container__stat__fact {
    width: 75%;
  }
  .main__showcase {
    padding: 8% 10%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
  }
  .main__showcase__container {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .main__showcase__container--one {
    grid-area: 1/1/2/8;
    flex-direction: row-reverse;
  }
  .main__showcase__container--two {
    grid-area: 2/1/3/8;
  }
  .main__showcase__container--three {
    grid-area: 3/1/4/5;
  }
  .main__showcase__container__text {
    margin: 2.5%;
    width: 35%;
    font-size: 1rem;
    line-height: 22px;
    padding-bottom: 5%;
  }
  .main__showcase__container__text__slogan {
    font-size: 2.25rem;
    line-height: 2.625rem;
    padding-bottom: 10px;
  }
  .main__showcase__container__text__paragraph {
    font-size: 1rem;
    line-height: 1.4rem;
    width: 130%;
  }
  .main__showcase__container__text--one {
    margin-right: 0%;
    border-bottom: 4px solid #FB3B64;
  }
  .main__showcase__container__text--two {
    margin-right: 12%;
    border-bottom: 4px solid #08A6E4;
  }
  .main__showcase__container__text--three {
    margin: 4.375%;
    width: 65%;
    border-bottom: 4px solid #55DFB4;
  }
  .main__showcase__container__background-one {
    width: 11.25em;
    height: 11.25em;
    border-radius: 41px;
  }
  .main__showcase__container__background-one__image {
    width: auto;
    height: 100%;
    transform: rotate(45deg) translate(-37%, 48%);
  }
  .main__showcase__container__background-two {
    width: 20em;
    height: 20em;
  }
  .main__showcase__container__background-two__image {
    width: auto;
    height: 100%;
  }
  .main__showcase__background-three {
    grid-area: 3/5/4/8;
    transform: translate(0px, 0px);
    margin: 0px;
  }
  .main__showcase__background-three__image {
    transform: translate(0px, 50%);
  }
  .main__pricing {
    margin-top: 100px;
  }
  .main__pricing__title {
    margin-bottom: 60px;
  }
  .main__pricing__divise-options__button {
    font-size: 2rem;
    width: 15%;
    height: 45px;
    margin: 0px 20px;
    transform: translateX(-6%);
  }
  .main__pricing__options-container {
    display: flex;
    justify-content: space-around;
  }
  .main__pricing__options-container__option {
    padding: 0px 8.5%;
  }
  .main__pricing__options-container__option:hover {
    padding: 0px 12%;
    margin-top: -25px;
    margin-bottom: 0.01%;
  }
  .main__pricing__options-container__option:hover .main__pricing__options-container__option__button {
    transform: translateY(200%);
  }
  .main__pricing__options-container__option--red:hover {
    box-shadow: 5px 10px 27px 0px rgba(251, 59, 100, 0.2901960784);
  }
  .main__pricing__options-container__option--red:hover .main__pricing__options-container__option__button {
    box-shadow: 5px 10px 27px 0px rgba(251, 59, 100, 0.2901960784);
  }
  .main__pricing__options-container__option--blue:hover {
    box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.2901960784);
  }
  .main__pricing__options-container__option--blue:hover .main__pricing__options-container__option__button {
    box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.2901960784);
  }
  .main__pricing__options-container__option--green:hover {
    box-shadow: 5px 10px 27px 0px rgba(85, 223, 180, 0.2901960784);
  }
  .main__pricing__options-container__option--green:hover .main__pricing__options-container__option__button {
    box-shadow: 5px 10px 27px 0px rgba(85, 223, 180, 0.2901960784);
  }
  .main__pricing__options-container__option__features {
    margin-bottom: 40px;
  }
  .main__pricing__options-container__option__features__header {
    display: block;
    width: auto;
    padding-bottom: 45px;
    padding-top: 30px;
  }
  .main__pricing__options-container__option__features__body {
    display: block;
    width: auto;
    text-align: center;
  }
  .main__pricing__options-container__option__button {
    width: 100%;
  }
  .main__questions {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }
  .main__questions__info {
    width: 35%;
  }
  .main__questions__info__last-words__slogan {
    font-size: 3em;
    margin-bottom: 15px;
  }
  .main__questions__info__contacts__contact {
    margin-left: 8px;
    display: inline-block;
  }
  .main__questions__invoice {
    width: 35%;
    margin: 0;
  }
}
.footer {
  height: 5.5em;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  background-color: #F7F7F7;
}
.footer__container__end-note {
  display: inline-block;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
}
.footer__container__end-note__name {
  font-family: Raleway;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.875rem;
  color: #08A6E4;
}
.footer__container__end-note__copyright {
  font-family: "Open Sans";
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1rem;
  color: #A5A5A5;
}
.footer__container__social {
  display: inline-block;
  text-align: right;
  width: 50%;
}
.footer__container__social__twitter {
  display: inline-block;
}
.footer__container__social__facebook {
  display: inline-block;
}

@media only screen and (min-width: 1000px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
  .footer__container__social {
    transform: translate(-20px, 30px);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.active {
  background-color: #717171 !important;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
